<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
    {{ HEAD }}
  <link rel="prefetch" href="/_nuxt/0.nuxt.bundle.3d9807366add854fc05a.js">
<link rel="prefetch" href="/_nuxt/1.nuxt.bundle.284ca081b1ddcc62ad15.js">
<link rel="prefetch" href="/_nuxt/2.nuxt.bundle.c9a67cd387779531cdf3.js">
<link rel="prefetch" href="/_nuxt/3.nuxt.bundle.7bd0afcb55d49fd220c6.js">
</head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  <script type="text/javascript" src="/_nuxt/manifest.f3f49315dbef84a71c09.js" defer></script><script type="text/javascript" src="/_nuxt/vendor.bundle.f3f49315dbef84a71c09.js" defer></script><script type="text/javascript" src="/_nuxt/nuxt.bundle.634ca53ffb53dd436ee9.js" defer></script></body>
</html>
